h1 {
  text-align: center;
  margin: 30px 0;
  color: #142d4c;
}

body {
  background: #bbe9db;
}

a {
  color: #142d4c;
}

.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
